{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        Home
    {% endblock %}
</head>
<body>
    {% block content %}

    <div class="home-container">
        {% for task in tasks %}
            <h2>Hello {{task.todo_setter.name}}, Here are your tasks</h2>
            <br>
            <span>{{task.todo}}</span>
        {% endfor %}
    </div>

        {% endblock %}
</body>
</html>